ftfy==6.0.3
jina==2.0.7
librosa==0.8.0
matplotlib==3.4.2
matplotlib-inline==0.1.2
numpy==1.18.1
pandas==1.0.3
pytorch-ignite==0.3.0
pytest==6.2.4
regex==2021.7.6
scikit-learn==0.22.1
scipy==1.4.1
simplejpeg==1.6.1
termcolor==1.1.0
torch==1.7.1
torchvision==0.8.2
tqdm==4.43.0
visdom==0.1.8.9
