git+https://github.com/jina-ai/jina.git@v2.0.0#egg=jina[hub]
pytest==6.2.4
spacy==3.0.6
torch==1.9.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz#egg=en_core_web_sm
