psycopg2-binary==2.8.6
faiss-cpu==1.6.5
git+https://github.com/jina-ai/jina-commons
git+https://github.com/jina-ai/executors # only required to start. DO NOT add real tests here, but in top-level integration
