name: CD

on:
  push:
    branches:
      - main
  workflow_dispatch:
  # comment this out to test in CI
  pull_request:


jobs:
  prep-push-bed:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - id: changed-files
        uses: jitterbit/get-changed-files@v1
        continue-on-error: true
      - id: set-matrix
        run: bash scripts/get-all-test-paths.sh
        env:
          CHANGED_FILES: ${{ steps.changed-files.outputs.all }}
      - id: debug
        run: echo ${{ steps.set-matrix.outputs.matrix }}
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}

  push-executors:
    needs: [prep-push-bed]
    runs-on: ubuntu-latest
    if: ${{ needs.prep-push-bed.outputs.matrix != '[]' }}
    container:
      image: jinaai/jina:master-standard
      options: "--entrypoint /bin/bash"
    strategy:
      fail-fast: false
      max-parallel: 5
      matrix:
        test-path: ${{fromJson(needs.prep-push-bed.outputs.matrix)}}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: debug
        run: echo ${{ matrix.test-path }}
      - name: push to Hubble
        run: |
          bash ./scripts/push.sh ${{ matrix.test-path }}
        env:
          token: ${{ secrets.GH_TOKEN }}

  gpu-folders:
    needs: [push-executors]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - id: changed-files
        uses: jitterbit/get-changed-files@v1
        continue-on-error: true
      - id: set-matrix
        run: bash scripts/get-gpu-executors.sh
        env:
          CHANGED_FILES: ${{ steps.changed-files.outputs.all }}
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}

  push-gpu-executors:
    needs: [ gpu-folders ]
    runs-on: ubuntu-latest
    if: ${{ needs.gpu-folders.outputs.matrix != '[]' }}
    container:
      image: jinaai/jina:master-standard
      options: "--entrypoint /bin/bash"
    strategy:
      fail-fast: false
      max-parallel: 5
      matrix:
        test-path: ${{fromJson(needs.gpu-folders.outputs.matrix)}}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: debug
        run: echo ${{ matrix.test-path }}
      - name: push to Hubble
        run: |
          bash ./scripts/push_gpu.sh ${{ matrix.test-path }}
        env:
          token: ${{ secrets.GH_TOKEN }}